            .header {
                &__top {
                    width: 312px;
                    height: 100vh;
                    padding: 32px 10px 32px 40px;
                    position: fixed;
                    left: 0;
                    top: 0;
                    z-index: 100;
                    background: #fff;
                }
                &__burger {
                    display: none;
                }
                &__nav {
                    margin-top: 200px;
                    &-list {
                        li {
                            margin-bottom: 15px;
                        }
                        a {
                            padding-left: 64px;
                            display: inline-block;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 32px;
                            position: relative;
                            &.active {
                                &::before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 34px;
                                    height: 2px;
                                    background: $accent;
                                }
                            }
                        }
                    }
                }
                &__logo {
                    display: block;
                    width: 230px;
                }
                &__bottom {
                    padding-top: 192px;
                    padding-bottom: 30px;
                    background: url('../../images/header/header-bg.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }
                &__info {
                    max-width: 600px;
                    color: #fff;
                    position: relative;
                    z-index: 40;
                }
                &__title {
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 148%;
                    span {
                        font-size: 60px;
                        letter-spacing: 0.03em;
                    }
                }
                &__descr {
                    max-width: 510px;
                    margin-top: 40px;
                    font-size: 20px;
                    line-height: 32px;
                }
                &__link {
                    width: 168px;
                    margin-top: 78px;
                }
                &__soc {
                    margin-top: 180px;
                    margin-left: auto;
                    max-width: 400px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;
                    position: relative;
                    z-index: 20;
                    li+li {
                        margin-left: 40px;
                    }
                    a {
                        width: 44px;
                        height: 44px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #fff;
                        border-radius: 50%;
                    }
                }
                &__contacts {
                    width: 286px;
                    height: 189px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 30;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    &-list {
                        margin-top: 48px;
                        padding-left: 18px;
                        position: relative;
                        top: 0;
                        right: 0;
                        z-index: 30;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    a[href*='info'] {
                        margin-top: 13px;
                        font-size: 16px;
                    }
                    a {
                        position: relative;
                        z-index: 5;
                    }
                    &-bg {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 0;
                    }
                    &-apple {
                        max-width: 1200px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 29;
                    }
                }
                &__line {
                    position: absolute;
                    left: -72px;
                    bottom: -155px;
                }
                &__oval {
                    position: absolute;
                    right: 0;
                    bottom: -160px;
                    z-index: 15;
                }
            }
            
            @media screen and (max-width: 1439px) {
                .header {
                    &__contacts {
                        &-apple {
                            max-width: 700px;
                        }
                    }
                    &__oval {
                        max-width: 500px;
                    }
                }
            }
            
            @media screen and (max-width: 1279px) {
                .header {
                    &__title {
                        font-size: 40px;
                        span {
                            font-size: 50px;
                        }
                    }
                    &__descr {
                        margin-top: 20px;
                        font-size: 18px;
                        line-height: 140%;
                    }
                    &__soc {
                        margin-top: 80px;
                    }
                    &__oval {
                        max-width: 400px;
                    }
                    &__link {
                        margin-top: 50px;
                    }
                }
            }
            
            @media screen and (max-width: 991px) {
                .header {
                    &__top {
                        width: 100%;
                        padding: 20px 20px 10px;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                    &__logo {
                        margin-bottom: 10px;
                        width: 200px;
                    }
                    &__nav {
                        margin-top: 0;
                        max-width: 500px;
                        &-list {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            li {
                                margin: 0;
                                margin-right: 20px;
                                margin-bottom: 10px;
                            }
                            a {
                                padding-left: 0;
                                padding-bottom: 0;
                                &.active {
                                    &::before {
                                        width: 100%;
                                        bottom: 0;
                                        top: auto;
                                    }
                                }
                            }
                        }
                    }
                    &__bottom {
                        padding-top: 100px;
                        margin-top: 89px;
                    }
                    &__contacts {
                        &-apple {
                            max-width: 500px;
                            top: 120px;
                        }
                    }
                }
            }
            
            @media screen and (max-width: 840px) {
                .header {
                    &__top {
                        padding: 20px;
                    }
                    &__logo {
                        margin-bottom: 0;
                    }
                    &__burger {
                        display: block;
                        margin-right: 13px;
                        padding: 10px;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        span {
                            display: block;
                            position: absolute;
                            left: 10px;
                            width: calc(100% - 20px);
                            height: 2px;
                            border-radius: 2px;
                            transform: rotate(0deg);
                            transition: $transition;
                            background: $accent;
                            &:nth-child(1) {
                                top: 13px;
                            }
                            &:nth-child(2) {
                                top: calc(50% - 1px);
                            }
                            &:nth-child(3) {
                                bottom: 13px;
                            }
                        }
                        &.active {
                            span {
                                &:nth-child(1) {
                                    top: 18px;
                                    transform: rotate(135deg);
                                }
                                &:nth-child(2) {
                                    opacity: 0;
                                    left: -60px;
                                }
                                &:nth-child(3) {
                                    top: 18px;
                                    transform: rotate(-135deg);
                                }
                            }
                        }
                    }
                    &__nav {
                        position: fixed;
                        z-index: 50;
                        right: -100%;
                        top: 89px;
                        background: #fff;
                        transition: $transition;
                        &.active {
                            right: 0;
                        }
                        &-list {
                            width: 250px;
                            padding: 20px;
                            flex-direction: column;
                            align-items: flex-start;
                            li {
                                margin-right: 0;
                            }
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            
            @media screen and (max-width: 767px) {
                .header {
                    &__contacts {
                        max-width: 200px;
                        height: 133px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;
                        &-list {
                            margin-top: 0;
                            margin-bottom: 10px;
                        }
                        &-apple {
                            display: none;
                        }
                        a[href*='info'] {
                            font-size: 13px;
                            margin-top: 5px;
                        }
                    }
                    &__title {
                        font-size: 32px;
                        span {
                            font-size: 40px;
                        }
                    }
                    &__descr {
                        font-size: 16px;
                    }
                    &__link {
                        margin-top: 30px;
                    }
                    &__soc {
                        margin-top: 40px;
                    }
                    &__oval {
                        max-width: 350px;
                        bottom: -130px;
                    }
                }
            }
            
            @media screen and (max-width: 440px) {
                .header {
                    &__contacts {
                        max-width: 180px;
                        height: 119px;
                    }
                    &__title {
                        font-size: 24px;
                        span {
                            font-size: 30px;
                        }
                    }
                    &__descr {
                        font-size: 15px;
                    }
                    &__oval {
                        max-width: 300px;
                        bottom: -100px;
                    }
                }
            }